#create-banner .principal-banner {
    height: 100px;
    background-color: #4455DD;
    text-align: center;
    color: white;
} 
#create-banner .principal-banner h1 {
    font-size: 42px;
    margin: 0;
    line-height: 100px;

}

.bs-stepper-content{
height: 100px;
z-index: 100
}